<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/online">
<!--/*@thymesVar id="user" type="com.discussion.board.entities.User"*/-->
<head>
    <title th:text="${user.getUsername()}">Title of profile view</title>
</head>
<body>
    <main layout:fragment="content">
        <article class="container" style="padding: 3% 0 2%;">
            <header class="row">
            </header>
            <section class="row">
                <div class="col s12 m6">
                    <ul class="collection">
                        <li class="collection-item center">User details</li>
                        <li class="collection-item">
                            <span class="badge">
                                <span th:text="${user.displayContentOfOptional()}">Introduction</span>
                            </span>Introduction:
                        </li>
                        <li class="collection-item">
                            <span class="badge">
                                <span th:text="${user.getUsername()}">Name</span>
                            </span>Name:
                        </li>
                        <li class="collection-item">
                            <span class="badge">
                                <span th:text="${user.displayParsedDate()}">User since</span>
                            </span>User since:
                        </li>
                    </ul>
                </div>

            </section>

            <!--/*@thymesVar id="points" type="java.lang.Long"*/-->
        </article>
    </main>
</body>
</html>